@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap');

:root {
    --color-bg: hsl(247,44%, 23%);
    --color-bg2: hsl(247, 44%, 32%);
    --color-body: hsl(252, 78%, 85%);
    --color-heading: hsl(252, 78%, 95%);
    --color-brand: hsl(252, 78%, 72%);
    --color-brand2: hsl(252, 78%, 62%);
    --sidebar-hsl: 247, 44%, 15%;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";

}


body {
    background-color: var(--color-bg);
    color: var(--color-body);
    font-family: var(--font-base),sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-brand);
}

.navbar .nav-link:hover {
    color: var(--color-brand2);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(hsla(247, 45%, 15%, 0.842), hsla(247, 45%, 15%, 0.842)), url(../images/sidebar.png);
        background-size: cover;
        background-position: center;
    }

.navbar-brand img {
    border: 8px solid var(--color-brand);
}


    /* CONTENT WRAPPER */

    #content-wrapper {
        padding-left: var(--sidbar-width);
    }

} 

 